{% extends 'base.html.twig' %}
{% block body %}
    <a href="allshak://login"></a>
    <script>
        document.querySelector('a').click();
        setTimeout(() => {
            window.open("googlechrome://navigate?url=" + {{ FRONTEND_URL }},"_system");
        },500)
    </script>
{% endblock %}