{% extends 'base.html.twig' %}
{% block body %}
    <a href="allshack://app"></a>
    <script>
        document.querySelector('a').click();
        setTimeout(() => {
            window.location.replace("{{ FRONTEND_URL }}login?verified=true");
        },500)
    </script>
{% endblock %}